build/
pkg/
src/
*.pkg.tar.zst
*.tar.gz
__pycache__/
edith/data/monaco/vs/
edith/data/monaco/emmet.js
edith/data/monaco/terser.js
edith/data/monaco/csso.js
*.log
*.deb
deb-staging/
builddir/
PKGBUILD.local
edith/__init__.py
.flatpak-builder/
