pkgbase = edith
	pkgdesc = GTK4 native SFTP client for live remote file editing
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/mkay/edith
	arch = any
	license = MIT
	makedepends = meson
	makedepends = npm
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = webkitgtk-6.0
	depends = python-paramiko
	depends = python-keyring
	depends = python-defusedxml
	source = edith-0.6.0.tar.gz::https://github.com/mkay/edith/archive/refs/tags/v0.6.0.tar.gz
	sha256sums = d706dbac5a6a2ef7109a1d2785cf29cc42d8abd549c930c8de2ba0cc06cacaf6

pkgname = edith
